# Server Configuration
PORT=10000
NODE_ENV=development

# Authentication
JWT_SECRET=your_jwt_secret_key_here
FRONTEND_URL=http://localhost:4200

# Supabase Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here

# Firebase (Optional kung nasa frontend lang ito)
FIREBASE_API_KEY=your-firebase-key